html {
   font-family: 'Montserrat', sans-serif;
   background-image:url(/img/fondo.jpg);
   background-repeat: no-repeat;
   background-size:cover;
}

/** background**/
*{
   margin: 0px;
   padding: 0px;
}

/*body*/
.class-body{
   background-color: #111129;
   margin-left:auto;
   margin-right:auto;
   padding: 50px;
   max-width: 65%;
}
/*header and footer*/
.class-header, .class-footer{
   background-color: #111129;
   border: 0px solid black;
   border-style: inset;
   padding: 5px;
 }

 .class-header{
   text-align: right;
 }


 /** links in a row**/
.class-header-enlaces li{
    display: inline-block;
    font-size: 1.5em;
}
.class-footer li{
   display: inline-block;
   font-size: 1.5em;
}

/**class-body-about**/

body{
   /*centar body*/
   margin: 0 auto;
}

.class-body-about{
   display:inline-block;
   border-bottom: 2px solid white;
   border-top: 2px solid white;
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

#fotoAnton{
   max-width: 25%;
   border-radius: 20%;
    
}
.body-text{
   color: white;
   font-weight: 100%;
   font-size:100%;
   padding-top: 3px;
   align-items: center;
}

/*class-body-work*/
.class-body-work{
   background-color: white;
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* justify-content: center; */
   align-items: center;
   padding: 2%;
   border-bottom: 2px solid white;
   
   
}

/*logos*/
#div-data{
   width: 85%;

}

#div-data1{
   width: 85%;

}
#div-data2{
   width: 85%;

}
#div-sql{
   width: 35%;
}

.title-section{
   color: white;
   padding: 2px;
}


/* Adaptar pantallas */
@media (min-width:320px)  { 
   /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
       table, p, img {
       padding-right: 1em;
       width: 100%;
       }
    }
   @media (min-width:480px)  { 
   /* smartphones, Android phones, landscape iPhone */ 
   }
   @media (min-width:600px)  { 
   /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
   }
   @media (min-width:801px)  { 
   /* tablet, landscape iPad, lo-res laptops ands desktops */ 
   }
   @media (min-width:1025px) { 
   /* big landscape tablets, laptops, and desktops */ 
   }
   @media (min-width:1281px) { 
   /* hi-res laptops and desktops */ 
   }

 
 

 
 
