html {
   font-family: 'Montserrat', sans-serif;

}

/** background**/
*{
   margin: 0px;
   padding: 0px;
}

 /** links in a row**/
.class-navbar-enlaces li{
    display: inline-block;
    margin-top: 10px;
    font-size: large;
    text-align: right;
    
}

h2{
   color: white;

}
/**config. enlaces Navbar**/
/**margin: valor 1 , valor 2 (donde valor 1 ser치 margin top y bottom y valor 2 ser치n margin left y right.**/

/** colored links**/
.class-navbar-enlaces{
   color:white
}
 
 .class-footer li{
    text-align: right;
    display: inline-block;
 }

 .class-navbar{
   background-color: #f2d13d;
   border: 0px solid black;
   padding: 10px 50px;
 }

 .class-footer{
   background-color: #f2d13d;
   border: 0px solid black;
   padding: 10px 50px;

 }

 /**
 #col-1, #col-2{
   border: 2px solid brown;
   width: 47%;
   margin: 0 auto;
   padding: 10px;
   display: inline-block;
}
  /** links in a row**/
 .class-navbar li{
     display: inline-block;
     margin-top: 10px;
     font-size: large;
 }
 
 /**config. enlaces Navbar**/
 /**margin: valor 1 , valor 2 (donde valor 1 ser치 margin top y bottom y valor 2 ser치n margin left y right.**/
 .class-navbar-enlaces{
    font-size: large;
    text-align: right; 
 }
 /** colored links**/
 a{
    color:black
 }
 
  .class-footer li{
     text-align: right;
     display: inline-block;
  }
 
  .class-navbar{
    background-color: #f2d13d;
    border: 0px solid black;
    padding: 10px 50px;
  }
 
  .class-footer{
    background-color: #f2d13d;
    border: 0px solid black;
    padding: 10px 50px;
 
  }
 
  /**
  #col-1, #col-2{
    border: 2px solid brown;
    width: 47%;
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
 }
 **/

 .banner-container{
   background-color: white;
   border: 0px solid black;
   padding: 10px 50px;

 }
 