html {
   font-family: 'Montserrat', sans-serif;
   background-image:url(/img/fondo.jpg);
   background-repeat: no-repeat;
   background-size:cover;
}

/** background**/
*{
   margin: 0px;
   padding: 0px;
}

/*body*/
.class-body{
   background-color: #111129;
   margin-left:auto;
   margin-right:auto;
   padding: 50px;
   max-width: 65vw;
   max-height: 100%;
}
/*header and footer*/
.class-header, .class-footer{
   background-color: #111129;
   border: 0px solid black;
   border-style: inset;
   padding: 5px;
   
 }

 .class-header{
   text-align: right;
   border-bottom: 2px solid white;
 
 }
 .class-footer{
 border-top: 2px solid white;
 }

 /** links in a row**/
.class-header-enlaces li{
    display: inline-block;
    font-size: 1.5em;
}
.class-footer li{
   display: inline-block;
   font-size: 1.5em;
}

body{
   /*centar body*/
   margin: 0 auto;
}

/**class-body-about**/

/* line under h2*/

.class-body-about{
   display:inline-block;
   /* border-bottom: 2px solid white; */
   /* border-top: 2px solid white; */
   border:  2px solid white; ;
   display:flex;
   flex-direction: row;
   /* flex-wrap: wrap; */
   justify-content: center;
}

/*poner en linea*/
#name , #fotoAnton{
   display: inline-block;
   max-width: 50%;
   
}

#fotoAnton{
   max-width: 50%;
   
    
}
.class-body-text{
   color: white;
   /* font-weight: 100em; */
   padding-top: 1em;
   align-items: center;
}

/*class-body-work*/
.class-body-work{
   background-color: white;
   border:  2px solid white; ;
   display:flex;
   flex-flow: row wrap;
   /* align-items: center; */
   padding: 2%;
   max-width: 65vw;
   max-height: 100%;
   
}

.class-body-work > div{
   width: 60%;
   margin: 10px;
   max-width: 40%;
}


/*logos*/
#div-data{
   width: 85%;

}

#div-data1{
   width: 85%;

}
#div-data2{
   width: 85%;

}
#div-sql{
   width: 35%;
}

.title-section{
   color: white;
   padding:1em;
}

/*social*/
.container-contactos{
  padding: 3em;
  
}

.class-contacts{
   border: 2px solid white;
   padding: 0 10px;
   /* width: 100%; */
   display: flex;
   display:flex;
   flex-direction: row;
   /* flex-wrap: wrap; */
   justify-content: center;
   
}

.icons{
   display: inline-block;
   padding: 2em 2em;
   align-items: center;
   
}



/*alinear iconos
.inline{
    display: inline-block;
    padding: 0 10px;
    */

 

 
 
