html {
   font-family: 'Montserrat', sans-serif;
   background-image:url(/img/fondo.jpg);
   background-repeat: no-repeat;
   background-size:cover;
  
}

/** background**/


/*body*/
.class-body{
   background-color: #111129;
   margin-left:auto;
   margin-right:auto;
   padding: 50px;
   max-width: 65vw;
   max-height: 100%;
}
/*header and footer*/
.class-header, .class-footer{
   background-color: #111129;
   border: 0px solid black;
   border-style: inset;
   padding: 5px;
   
 }

 .class-header{
   text-align: right;
   border-bottom: 2px solid white;
 
 }
 .class-footer{
 border-top: 2px solid white;
 }

 /** links in a row**/
.class-header-enlaces li{
    display: inline-block;
    font-size: 1.5em;
}
.class-footer li{
   display: inline-block;
   font-size: 1.5em;
}



body{
   /*centar body*/
   margin: 0 auto;
}

/**class-body-about**/

/* line under h2*/

.class-body-about{
   display:inline-block;
   /* border-bottom: 2px solid white; */
   /* border-top: 2px solid white; */
   border:  2px solid white; ;
   display:flex;
   flex-direction: row;
   /* flex-wrap: wrap; */
   justify-content: center;
}


.class-body-text{
   color: white;
   /* font-weight: 100em; */
   padding-top: 1em;
   align-items: center;
}

/*class-body-work*/
.class-body-work{
   /* background-color: white; */
   border:  2px solid white; ;
   display:flex;
   flex-wrap: wrap;
   align-items:center;
   justify-content: center;
   padding: 1.5em;
   max-width: 65vw;
   max-height: 100%;
   
}

.class-body-work > div{
   width: 60%;
   padding: 1em;
   margin: 0 auto;
   max-width: 40%;
   
}

#img-work{
   justify-content:end;
   
   width: 70%;
}

.title-section{
   color: white;
   padding:1em;
}

/*social*/
.container-contactos{
  padding: 3em;
  
}

.class-contacts{
   border: 2px solid white;
   padding: 0 10px;
   /* width: 100%; */
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   /* flex-wrap: wrap; */
   justify-content: center;
   
}

.icons{
   display: inline-block;
   padding: 2em 2em;
   align-items: center;
   
}

.icons:hover{
   background-color: blueviolet;

}



 

 
 
